<form action="" method="post">
    <!--  tolebikas form -->
<div class="col">
    <div class="row">
        <div class="left"><label for="account_num">Name of Tole Bikas Sanstha(नाम)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="name" id="name">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num">Ward Number(वडा नं )</label> </div>
        <div class="forminput">
            <input type="number" class="input" name="ward_num" id="ward_num">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num">Tole(टोल)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="tole" id="tole">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num"> East Boundary (पूर्व)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="boundary_east" id="boundary_east">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num">Boundary West(पश्चिम)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="boundary_west" id="boundary_west">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num">Boundary North(उत्तर)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="boundary_north" id="boundary_north">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num">Boundary South(दक्षिण)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="boundary_south" id="boundary_south">
        </div></div>
    
    <div class="row">
        <div class="left"><label for="account_num">Office Address(कार्यालयको ठेगानाः)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="office_address" id="office_address">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num">Co-Ordinate(Lat))</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="co_ordinate1" id="co_ordinate1">
        </div>
    </div>
    <div class="row">
        <div class="left"><label for="account_num">Co-Ordinate(Long))</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="co_ordinate2" id="co_ordinate2">
        </div>
    </div>
    <div class="row">
        <div class="left"><label for="account_num">Profile/Logo(लोगो)</label> </div>
        <div class="forminput">
            <input type="file" class="input" name="profilepic" id="profilepic">
        </div>
    </div>
    
    <div class="row">
        <div class="left"><label for="account_num">Account Number(बैंक खाता नं)</label> </div>
        <div class="forminput">
            <input type="text" class="input" name="account_num" id="account_num">
        </div>
    </div>
       <div class="forminput">
        <button class="input" type="submit">+</button>
    </div>
</div>

</form>

<!-- anugaman samiti form -->
<form action="" method="post">
    <div class="col">
        <div class="row">
            <div class="left"><label for="tolebks">Tole Bikas name(टोल विकास को नामः)</label></div>
            <div class="forminput">
                <input type="text" class="input" name="tolebks_id" id="tolebks_id">
            </div>
        </div>
        
        <div class="row">
            <div class="left"><label for="name"> Name(नाम, थर)</label></div>
            <div class="forminput">
                <input type="text" class="input" name="name" id="name">
            </div>
        </div>
        
        <div class="row">
            <div class="left"><label for="designation"> Designation (पद)</label></div>
            <div class="forminput">
                <input type="text" class="input" name="designation" id="designation">
            </div>
        </div>
        
        <div class="row">
            <div class="left"><label for="contact">Contact(सम्पर्क नं)</label></div>
            <div class="forminput">
                <input type="text" class="input" name="contact" id="contact">
            </div>
        </div>
        
        <div class="row">
            <div class="left"><label for="email">Email(इमेल)</label></div>
            <div class="forminput">
                <input type="text" class="input" name="email" id="email">
            </div>
        </div>
        
        <div class="row">
            <div class="left"><label for="ctz">Citizenship(नागरिकता नं)</label></div>
            <div class="forminput">
                <input type="text" class="input" name="ctz" id="ctz">
            </div>
        </div>
        
          <div class="forminput">
            <button class="input" type="submit">+</button>
        </div>
    </div>
</form>

<!-- tolebikasmember-->

<form action="" method="post">
    <div class="col">
        <div class="row">
            <div class="left">
                <label for="tolebikasname"> Name of Tole Bikas(टोल विकास)</label>
            </div>
            <div class="forminput"> <input type="text" class="input" name="tolebikas_id" id="tolebikas_id"> </div>
        </div>
        <div class="row">
            <div class="left"> <label for="name"> Name(नामः)</label> </div>
            <div class="forminput">
                <input type="text" class="input" name="name" id="name">
            </div>
        </div>
        <div class="row">
            <div class="left"> <label for="designation">Designation(पदः)</label></div>
            <div class="forminput"><input type="text" class="input" name="designation" id="designation"></div>
        </div>
        <div class="row"><div class="left"><label for="address">Address(ठेगानाः)</label></div> 
    <div class="forminput"><input type="text" class="input" name="address" id="address"></div>
    </div>
    <div class="row">
        <div class="left"><label for="ctz">Citizenship No: (नागरिकता नं)</label></div>
        <div class="forminput"><input type="text" class="input" name="ctz" id="ctz"></div>
    </div>
    <div class="row">
        <div class="left"><label for="citizenshpFile">Citizenship cert(नागरिकता प्रमाणपत्रः अगाडिपट्टिको)</label></div>
        <div class="forminput"> <input type="file" class="input" name="ctz_front" id="ctz_front"> </div>
    </div>
<div class="row"><div class="left"><label for="ctzback">Citizenship cert(नागरिकता प्रमाणपत्रः पछाडिपट्टिको)</label></div>
<div class="forminput"><input type="file" class="input" name="ctz_back" id="ctz_back"></div>
</div>
<div class="row">
    <div class="left"><label for="photo">Photo(फोटो)</label></div>
    <div class="forminput"><input type="file" class="input" name="photo" id="photo"></div>
</div>
<div class="row">
    <div class="left"><label for="contact">Contact(सम्पर्क नं)</label></div>
    <div class="forminput"><input type="text" class="input" name="contact" id="contact"></div>
</div>
<div class="forminput"><button class="input" type="submit">+</button></div>
    </div>
</form>
<!--
 tole house
-->
<form action="" method="post">
    <div class="col">
        <div class="row">
            <div class="left"><label for="tolebikas">Tole Bikas Name(टोल विकासको नाम)</label></div>
            <div class="forminput"><input type="hidden" name="tbs_id" id="tbs_id"></div>
        </div>
        <div class="row">
            <div class="left"><label for="house number">House Number(घर नंः)</label></div>
            <div class="forminput"><input type="text" class="input" name="house_num" id="house_num"></div>
        </div>
        <div class="row">
            <div class="left"><label for="ownerName">Owner Name(घर धनीको नामः)</label></div>
            <div class="forminput"><input type="text" class="input" name="owner_name" id="owner_name"></div>
        </div>
        <div class="row">
            <div class="left"><label for="description">Description(विवरणः)</label></div>
            <div class="forminput"><input  type="text" class="input" name="description" id="description"></div>
        </div>
        <div class="row">
            <div class="forminput"><button class="input" type="submit">+</button></div>
        </div>
    </div>
</form>

<!--
    house member
-->
<form action="" method="post">
    <div class="col">
        <div class="row">
            <div class="left"><label for="house_id">House number</label></div>
            <div class="forminput"><input type="hidden" name="house_id"></div>
        </div>
        <div class="row">
            <div class="left"><label for="name">Name(नामः)</label></div>
            <div class="forminput"><input type="text" class="input" name="name" id="name"></div>
        </div>
        <div class="row">
            <div class="left"><label for="ctz">Citizenship Number (नागरिकता नंः)</label></div>
            <div class="forminput"><input type="text" class="input" name="ctz" id="ctz"></div>
        </div>
        <div class="row">
            <div class="left"><label for="phone">Phone(फोन नं)</label></div>
            <div class="forminput"><input type="text" class="input" name="phone" id="phone"></div>
        </div>
        <div class="row">
            <div class="left"><label for="email">Email(इमेल):</label></div>
        <div class="forminput"><input type="email" class="input" name="email" id="email"></div>
        </div>
        <!-- documents  -->
        <div class="row">
            <div class="left"><label for="document1">Document1(दस्तावेज १)</label></div>
            <div class="forminput"><input type="file" class="input" name="document1" id="document1"></div>
        </div>
        <div class="row">
            <div class="left"><label for="document2">Document2(दस्तावेज 2)</label></div>
            <div class="forminput"><input type="file" class="input" name="document2" id="document2"></div>
        </div>
        <div class="row">
            <div class="left"><label for="document3">Document3(दस्तावेज 3)</label></div>
            <div class="forminput"><input type="file" class="input" name="document3" id="document3"></div>
        </div>
<!-- documents  -->
  <div class="row">
    <div class="left"><label for="profile image"> Profile Image(प्रोफाइल फोटोः)</label></div>
    <div class="forminput"><input type="file" class="input" name="profileimg" id="profileimg"></div>
  </div>
  <div class="row"><div class="forminput">
    <button type="submit" class="input">+</button>
  </div></div>
    </div>
</form>
<!-- tb projecct-->
<form action="" method="post">
    <div class="col">
        <input type="hidden" name="tb_id" value="">
        <div class="row">
            <div class="left"><label for="Project Level"> Project Level(योजना स्तर)</label></div>
            <div class="forminput"><select name="" class="input" id="">
                <option value="ward">वडास्तरीय</option>
                <option value="rm">गाउँपालिकास्तरीय</option>
            </select></div>
        </div>
        <div class="row">
            <div class="left"><label for="project name"> Project Name(योजनाको नाम):</label></div>
            <div class="forminput"><input type="text" class="input" name="project_name" id="project_name"></div>
        </div>
        <div class="row">
            <div class="left"><label for="budget_karyakram">Budget Title(बजेट शीर्षक)</label></div>
            <div class="forminput">
                <select name="bk_id" id="bk_id">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="left"><label for="allocated budget">Allocated Budget(छुट्याएको रकम):</label></div>
            <div class="forminput"><input type="number" class="input" step="0.01" name="allocated_budget" id="allocated_budget"></div>
        </div>
        <div class="row">
            <div class="left"> <label for="beneficiary_contrib">Beneficiary Contribution(लाभग्राही श्रमदान):</label></div>
            <div class="forminput"><input type="number" class="input" step="0.01" name="beneficiary_contrib" id="beneficiary_contrib"></div>
        </div>
<div class="row">
    <div class="left"><label for="estimated amount">Estimated Amount</label></div>
    <div class="forminput"><input type="number" class="input" step="0.01" name="estimated_amt" id="estimated_amt"></div>
</div>
<div class="row">
    <div class="left"> <label for="project_address"> Project Address(योजना स्थल)</label></div>
    <div class="forminput"><input type="text" class="input" name="project_address" id="project_address"></div>
</div>
<div class="row">
    <div class="forminput"><button type="submit" class="input">+</button></div>
</div>
    </div>
</form>
<!--
    budget_project  , to be updated with project detail insertion
-->
<!-- budget karyakram-->
<form action="" method="post">
    <div class="col">
        <div class="row">
            <div class="left"><label for="name"> Name(नाम):</label></div>
            <div class="forminput"><input type="text" class="input" name="name" id="name"></div>
        </div>
        <div class="row">
            <div class="left"><label for="amount">Amount(रकम):</label></div>
            <div class="forminput"><input type="number" class="input" step="0.01" name="amount" id="amount"></div>
        </div>
        <div class="row">
            <div class="left"><label for="description">Description(विवरण)</label></div>
            <div class="forminput"><input type="text" class="input" name="description" id="description"></div>
        </div>
        <div class="row">
            <div class="forminput"><button class="input"  type="submit">+</button></div>
        </div>
    </div>
</form>
<!-- project docs -->
<form action="" method="post">
    <div class="col">
        <input type="hidden" name="project_id" id="project_id">
        <div class="row">
            <div class="left"><label for="documentname">Document Name</label></div>
            <div class="forminput"><input type="text" class="input" name="documentname" id="documentname"></div>
        </div>
        <div class="row">
            <div class="left"><label for="doc">Document(कागजात)</label></div>
            <div class="forminput"><input type="file" class="input" name="doc" id="doc"></div>
        </div>
        <div class="row">
            <div class="forminput"><button class="input" type="submit">+</button></div>
        </div>
    </div>
</form>
<!-- 
    project schedule
-->
<form action="" method="post">
    <div class="col">
        <input type="hidden" name="project_id" value="" id="project_id">
  <div class="row">
    <div class="left"><label for="activities">Activities(क्रियाकलाप)</label></div>
    <div class="forminput"><input type="text" class="input" name="activities" id="activities"></div>
  </div>
  <div class="row">
    <div class="left"><label for="start_date">Start Date (शुरु मिति):</label></div>
    <div class="forminput"><input type="text" class="input" name="start_date" id="start_date"></div>
  </div>
  <div class="row">
    <div class="left"><label for="end_date">End Date (अन्तिम मिति):</label></div>
    <div class="forminput"><input type="text" class="input" name="end_date" id="end_date"></div>
  </div>
  <div class="row">
    <div class="left"><label for="misc">Misc (कैफियत):</label></div>
    <div class="forminput"><input type="text" class="input" name="misc" id="misc"></div>
  </div>
  <div class="row">
    <div class="forminput"><button type="submit" class="input">+</button></div>
  </div>
    </div>
</form>
<style>
    .col{
        display: flex;flex-direction: column;border-style: solid;border-color: lightblue;width:75%;
    }
    .row{
        display: flex;flex-direction: row;padding: 5px;
    }
    .left{
        width:25%;margin-left: 10px; margin-right: 8px;
    }
    .forminput{
        width:45%;
    }
    .input{
        width:85%;height: 40px;padding:4px;
    }
</style>

